.header {
	color: var(--clr-text-gray);
}

.header__container {
	padding: 1rem 0px;
}

.header-grid {
	display: grid;
	gap: 3rem;
	grid-auto-flow: column;
	grid-auto-columns: repeat(7, auto);
	grid-auto-rows: 1fr;
	align-items: center;
}

.header__logo {
	display: flex;
	gap: 1rem;
	align-items: center;
}


.header__location {}

.header__vertical-span {
	display: block;
	width: 1px;
	margin: auto 0;
	height: 70px;
	background-color: var(--clr-text-gray);
}


.header__location-text {
	font-family: var(--ff-Gilroy);
	font-weight: var(--fw-regular);
	font-size: 1rem;
	line-height: 155%;
	color: var(--clr-black);
}

.header__price-list {
	display: flex;
	gap: 1.25rem;
	align-items: center;
}

.header__price-list-circle {
	width: 3.8125rem;
	height: 3.8125rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header__price-list-circle:hover {
	filter: brightness(0.9);
}

.header__price-list-circle span {
	font-family: var(--ff-Gilroy);
	font-weight: var(--fw-medium);
	font-size: 1rem;
	line-height: 100%;
	/* or 16px */
	letter-spacing: 0.04em;
	color: var(--clr-text-gray);
	text-transform: uppercase;
}


.header__price-list-text {
	font-family: var(--ff-Gilroy);
	font-weight: var(--fw-medium);
	font-size: 1rem;
	line-height: 130%;
	letter-spacing: 0.04em;
	cursor: pointer;
	padding: 0.4rem 0;
	color: var(--clr-black);
}

.header__catalog {
	height: 3.8125rem;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 0.5rem;
}

.header__catalog:hover {
	filter: brightness(0.9);
}

.header__catalog span {
	font-family: var(--ff-Gilroy);
	font-weight: var(--fw-medium);
	font-size: 1rem;
	line-height: 130%;
	/* or 16px */
	letter-spacing: 0.04em;
	color: var(--clr-text-gray);
}

.header__question {
	height: 100%;
	display: grid;
	align-content: space-between;
}

.header__question-text {
	font-family: var(--ff-Gilroy);
	font-weight: var(--fw-regular);
	font-size: 1rem;
	line-height: 150%;
	/* 21/14 */
	text-align: center;
	color: var(--clr-text-gray);
}

.header__question-text::before {
	display: inline-block;
	content: "";
	position: relative;
	bottom: 1.5px;
	right: 2px;
	width: 6px;
	height: 6px;
	background-color: var(--clr-green);
	border-radius: 50%;
}

.header__question-row {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.header__question-row a {
	width: 50px;
	height: 41px;
}


.header__tel {
	font-family: var(--ff-Gilroy);
	font-weight: var(--fw-medium);
	font-size: 1.75rem;
	line-height: 150%;
}

.header__tel p {
	font-family: var(--ff-Gilroy);
	font-weight: var(--fw-medium);
	font-size: 1.125rem;
	line-height: 150%;
	text-align: center;
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-color: var(--clr-text-gray);
	color: var(--clr-black);
	letter-spacing: 0.02em;
}

.display-none {
	display: none;
}


@media (max-width: 93.75em) {
	.header-grid {
		gap: 1rem;
	}

	.header__price-list {
		gap: 1rem;
	}

	.header__price-list-text {
		font-size: 0.9rem;
	}

	.header__catalog span {
		font-size: 0.9rem;
	}

	.header__tel {
		font-size: 1.4rem;
	}

	.header__tel p {
		text-align: start;
	}
}

@media (max-width: 81.25em) {
	.header-grid {
		display: grid;
		gap: 2rem;
		grid-auto-flow: column;
		grid-auto-columns: auto;
		grid-auto-rows: 1fr;
		align-items: center;
		justify-content: space-between;
	}

	.header__logo {
		display: block;
	}

	.header__vertical-span {
		display: none;
	}

	.header__location {
		display: none;
	}

	.header__question {
		display: none;
	}

	.header__tel p {
		text-align: end;
		font-size: 0.9rem;
		margin-bottom: 0.35rem;
	}

	.header__tel {
		display: grid;
		font-size: 1.2rem;
		justify-items: center;
	}

	.display-none {
		display: block;
	}
}

@media (max-width: 56.25em) {
	.header__price-list {
		display: none;
	}
}

@media (max-width: 37.5em) {
	.header__catalog {
		display: none;
	}

	.header__tel {
		font-size: 1.1rem;
	}
}